/* bravo if you've found this! Here are a few ideas of backgrounds that I played around with, but wasn't quite read to hit delete on */
/* background: repeating-radial-gradient(rgba(101, 40, 207), rgb(151, 232, 126) 20%); */
/* background: repeating-radial-gradient(circle at 100%, #333, #333 10px, #eee 10px, #eee 20px); radial gradient but positioned to the left */
/* background: linear-gradient(to right,
        rgb(69, 25, 145),
        rgb(27, 66, 16)); */
/* background: url('astronaut_campfire.png'), linear-gradient(to right,
                rgb(69, 25, 145),
                rgb(27, 66, 16));
        background-position-x: center;
        background-repeat: no-repeat;
        background-position-y: 38%; */
body {
    color: black;
    font-weight:bold;
    overflow: hidden;
}
h1{
    color:lightgray;
}
.indexPage{
    height:100vh;
    background: url('island_house.jpg');
}

.credits {
    position:fixed;
    bottom:0%;
}